
data/US_Accidents_June20.csv
parsed_data.csv
.ipynb_checkpoints/
.ipynb_checkpoints/assignment2-checkpoint.ipynb
.ipynb_checkpoints/assignment2klad-checkpoint.ipynb
.ipynb_checkpoints/assignment2-checkpoint.ipynb
